.header {
  max-width: 900px;
  background-color: #f8fbfd;
  padding: 4px 20px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  text-align: center;
  font-size: 24px;
  border-radius: 20px;
  font-weight: bold;
  box-shadow: 0 4px 8px rgba(107, 107, 107, 0.1);
  border-bottom: 1px solid rgb(211, 211, 211);
}
.dots-grid {
  display: grid;
  grid-template-columns: repeat(5, 5px);
  grid-template-rows: repeat(7, 5px);
}
.dot {
  width: 3px;
  height: 3px;
  background-color: #1d80c2;
  border-radius: 50%;
}
.dot.color2 {
  background-color: #3c94e7;
}
.dot.color3 {
  background-color: #c0cce2d7;
}
.logo {
  display: flex;
  align-items: center;
  gap: 12px;
}
.head-logo {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  color: #363636;
}

.element-header ul li {
  display: inline;
  margin: 0 15px;
}
ul {
  list-style: none;
}
.element-header li a {
  color: #363636;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
  font-size: 16px;
}
.element-header li a:hover {
  color: #1d80c2;
}
.button-header {
  display: flex;
  align-items: center;
}
.button-header .btn-login {
  background-color: transparent;
  border: none;
  color: #363636;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-right: 10px;
  padding: 10px 20px;
  border-radius: 4px;
}
.button-header .btn-getstarted {
  background-color: #6ca8e7;
  border: none;
  color: #ffffff;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 10px 20px;
  border-radius: 4px;
}
.btn-login:hover {
  padding: 10px 20px;
  border-radius: 4px;
  border: none;
  background-color: #6ca8e7;
}

.btn-getstarted:hover {
  background: transparent;
  color: #363636;
}
